body {
    margin: 0;
    background-color: #eeeeff;
}

#titre{
    color: white;
    text-align: center;
    display: block;
    background-color: black;
    height: 100%;
    width: 100%;
}

#menu{
    width: 100%;
    height: 75px;
    background-color: white;
    position: relative;
}

#menu ul{
    position: relative;
    margin-top: -10px;
    float: left;
    left: 50%;
}

#menu ul li{
    float: left;
    list-style-type: none;
    margin: 20px;
    position: relative;
    left: -50%;
}


#menu ul li a{
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 80px;
    color: black;
    text-decoration: none;
}

#menu ul li a:hover{
    color: grey;
}

#index{
    text-align: center;
    width: 70%;
    padding-left: 15%;
}

#lol h2{
    text-align: center;
}

#lol p{
    text-align: center;
    width: 70%;
    padding-left: 15%;
}

#lol img{
    position: relative;
    margin-left: 40%;
}

#wf img{
    position: relative;
    margin-left: 37%;
}

#wf p{
    text-align: center;
    width: 70%;
    padding-left: 15%;
}